@{
    ViewData["Title"] = "Submit Details";
}

<link href="~/css/pages/users/wizard.css" rel="stylesheet" type="text/css" />

<div class="container">
    <br />

    <div class="card card-custom">
        <div class="card-body p-0">
            <!--begin::Wizard-->
            <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="between" data-wizard-clickable="false">
                <!--begin::Wizard Nav-->
                <div class="wizard-nav border-bottom">
                    <div class="wizard-steps p-8 p-lg-10">
                        <!--begin::Wizard Step 1 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-bus-stop"></i>
                                <h3 class="wizard-title">1. Setup Personal Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 1 Nav-->
                        <!--begin::Wizard Step 2 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-list"></i>
                                <h3 class="wizard-title">2. Setup O/L Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 2 Nav-->
                        <!--begin::Wizard Step 3 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-responsive"></i>
                                <h3 class="wizard-title">3. Setup A/L Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 3 Nav-->
                        <!--begin::Wizard Step 4 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-truck"></i>
                                <h3 class="wizard-title">4. Setup Cadeting/Scouting Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 4 Nav-->
                        <!--begin::Wizard Step 5 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-globe"></i>
                                <h3 class="wizard-title">5. Setup Sports Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow ">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 5 Nav-->
                        <!--begin::Wizard Step 6 Nav-->
                        <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                            <div class="wizard-label">
                                <i class="wizard-icon flaticon-responsive"></i>
                                <h3 class="wizard-title">6. Setup Parents And Guardian Details</h3>
                            </div>
                            <span class="svg-icon svg-icon-xl wizard-arrow last">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Wizard Step 6 Nav-->
                    </div>
                </div>
                <!--end::Wizard Nav-->
                <!--begin::Wizard Body-->
                <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                    <div class="col-xl-12 col-xxl-10">
                        <!--begin::Wizard Form-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_personal_det">
                            @Html.AntiForgeryToken()
                            <!--begin::Wizard Step 1-->
                            <div class="pb-5" data-wizard-type="step-content">
                                <h2 class="mb-10 font-weight-bold text-dark">Setup Your Personal Details</h2>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Full Name <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="full_name" name="full_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Name with initial<span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="name_with_initial" name="name_with_initial" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Permanent address<span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" id="permanent_address" name="permanent_address" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">NIC Number<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="nic_no" name="nic_no" required value="">
                                    </div>

                                    <label class="col-md-2 col-form-label">Date of birth<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="date" value="2011-08-19" id="date_of_birth" name="date_of_birth" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Passport number</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="passport_no" name="passport_no" required value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Civil Status<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <div class="radio-inline mt-2">
                                            <label class="radio radio-outline radio-outline-2x radio-primary">
                                                <input type="radio" name="civil_status" id="single" value="single" checked="checked">
                                                <span></span>Single
                                            </label>
                                            <label class="radio radio-outline radio-outline-2x radio-primary">
                                                <input type="radio" name="civil_status" id="married" value="married">
                                                <span></span>Married
                                            </label>

                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Tel(Residence)</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="tel_residence" name="tel_residence" required value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Gender<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <div class="radio-inline mt-2">
                                            <label class="radio radio-outline radio-outline-2x radio-primary">
                                                <input type="radio" name="gender" id="male" value="male" checked="checked">
                                                <span></span>Male
                                            </label>
                                            <label class="radio radio-outline radio-outline-2x radio-primary">
                                                <input type="radio" name="gender" id="female" value="female">
                                                <span></span>Female
                                            </label>

                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Mobile no<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="mobile_no" name="mobile_no" required value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Citizenship<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="citizenship" name="citizenship" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Email address<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="email_address" name="email_address" required value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Religion<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="religion" name="religion" class="form-control">
                                            <option value="buddhist" selected>Buddhist</option>
                                            <option value="catholic">Catholic</option>
                                            <option value="christian">Christian</option>
                                            <option value="hindu">Catholic</option>
                                            <option value="islam">Islam</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Height (Feet & Inches, Example:5.2)<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="student_height" name="student_height" required value="">
                                    </div>
                                </div>
                            </div>

                        </form>
                        <!--end::Wizard Step 1-->
                        <!--begin::Wizard Step 2-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_ol_det">
                            @Html.AntiForgeryToken()
                            <!--begin::Wizard Step 1-->
                            <div class="pb-5" data-wizard-type="step-content">
                                <h2 class="mb-10 font-weight-bold text-dark">Setup Your O/L Details</h2>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">School name<span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="ol_school_name" name="ol_school_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Index no<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="ol_index_no" name="ol_index_no" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">O/L Year<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="ol_year" name="ol_year" class="form-control">
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021" selected>2021</option>
                                        </select>
                                    </div>
                                </div>

                                <hr />
                                <div class=" form-group row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Subject</th>
                                                    <th scope="col">Grade</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject1" name="subject1" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject1_grade" name="subject1_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject2" name="subject2" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject2_grade" name="subject2_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject3" name="subject3" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject3_grade" name="subject3_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject4" name="subject4" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject4_grade" name="subject4_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">5</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject5" name="subject5" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject5_grade" name="subject5_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">6</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject6" name="subject6" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject6_grade" name="subject6_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">7</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject7" name="subject7" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject7_grade" name="subject7_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">8</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject8" name="subject8" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject8_grade" name="subject8_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">9</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="subject9" name="subject9" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="subject9_grade" name="subject9_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!--end::Wizard Step 2-->
                        <!--begin::Wizard Step 3-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_al_det">
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                <h2 class="mb-10 font-weight-bold text-dark">Setup Your A/L Details</h2>
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">School name<span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="al_school_name" name="al_school_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Index no<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="passed_al_index_no" name="passed_al_index_no" required>
                                    </div>
                                </div>

                                <div class="form-group row mb-10">
                                    <label class="col-md-2 col-form-label">A/L Year<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="passed_al_year" name="passed_al_year" class="form-control">
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021" selected>2021</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 col-form-label">Attempt<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="passed_al_attempt" name="passed_al_attempt" class="form-control">
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>

                                <h6 class="mb-10 font-weight-bold text-dark">If you have multiple A/L attempts please enter A/L index numbers and years</h6>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">1<sup>st</sup> attempt index no</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_1st_index_no" name="attempt_1st_index_no" required>
                                    </div>

                                    <label class="col-md-2 col-form-label">1<sup>st</sup>attempt year</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_1st_year" name="attempt_1st_year" required>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">2<sup>nd</sup> attempt index no</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_2nd_index_no" name="attempt_2nd_index_no" required>
                                    </div>

                                    <label class="col-md-2 col-form-label">2<sup>nd</sup>attempt year</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_2nd_year" name="attempt_2nd_year" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">3<sup>rd</sup> attempt index no></label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_3rd_index_no" name="attempt_3rd_index_no" required>
                                    </div>

                                    <label class="col-md-2 col-form-label">3<sup>rd</sup>attempt year</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="attempt_3rd_year" name="attempt_3rd_year" required>
                                    </div>
                                </div>


                                <h6 class="mb-10 font-weight-bold text-dark">A/L results</h6>

                                <div class=" form-group row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Subject</th>
                                                    <th scope="col">Grade</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="al_subject1" name="al_subject1" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="al_subject1_grade" name="al_subject1_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="al_subject2" name="al_subject2" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="al_subject2_grade" name="al_subject2_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="al_subject3" name="al_subject3" required value="">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="al_subject3_grade" name="al_subject3_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th scope="row">4</th>
                                                    <td>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control form-control-solid" id="al_english" name="al_english" required value="English" readonly>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-5">
                                                            <select id="al_english_grade" name="al_english_grade" class="form-control">
                                                                <option value="A" selected>A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="S">S</option>
                                                                <option value="F">F</option>
                                                                <option value="AB">AB</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">General Test<span class="text-danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="al_general_test" name="al_general_test" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Qualified for university<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="qualified_for_university" name="qualified_for_university" class="form-control">
                                            <option value="Yes" selected>Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Z-Score<span class="text-danger">*</span></label>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control" id="z_score" name="z_score" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Wizard Step 3-->
                        <!--begin::Wizard Step 4-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_extra_curricular_cadet_scouting_det">
                            @Html.AntiForgeryToken()
                            <div class="pb-5" data-wizard-type="step-content">
                                <h4 class="mb-10 font-weight-bold text-dark">Setup Your Extra Curricular Activities</h4>
                                <h6 class="mb-5 font-weight-bold text-dark">Cadetting</h6>
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="juo">
                                                <span></span>JUO
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="suo">
                                                <span></span>SUO
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="pte">
                                                <span></span>PTE
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="lcpl">
                                                <span></span>L.cpl
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="cpl">
                                                <span></span>Cpl
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="sgt">
                                                <span></span>Sgt
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <h6 class="mb-5 font-weight-bold text-dark">Scouting</h6>
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="pres_scouts">
                                                <span></span>Pres.Scouts
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="cc_dc_awards">
                                                <span></span>CC's/DC's Award
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="scouts_award">
                                                <span></span>Scouts Award
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="scouts">
                                                <span></span>Scouts
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="cub_scout_with_star">
                                                <span></span>Cub Scout with Star
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <h6 class="mb-5 font-weight-bold text-dark">Other</h6>
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="cadeting">
                                                <span></span>Cadeting
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="scouting">
                                                <span></span>Scouting
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="prefect">
                                                <span></span>Prefect
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="school_captain">
                                                <span></span>School captain
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="house_captain">
                                                <span></span>House captain
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="band">
                                                <span></span>Band
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="societies">
                                                <span></span>Societies
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-form-label">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" name="first_aid">
                                                <span></span>First Aid
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 4-->
                        </form>
                        <!--begin::Wizard Step 5-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_extra_curricular_cadet_scouting_det">
                            @Html.AntiForgeryToken()
                            <div class="pb-5" data-wizard-type="step-content">
                                <!--begin::Section-->
                                <h2 class="mb-10 font-weight-bold text-dark">Setup Your Extra Curricular Sports</h2>
                                <div class="example-preview">
                                    <!-- Button trigger modal-->
                                    <button type="button" class="btn btn-primary mr-2 mb-10 px-12" data-toggle="modal" data-target="#sportModal">Add Sport</button>
                                    <!--begin::Modal-->
                                    <div class="modal fade" id="sportModal" tabindex="-1" aria-labelledby="exampleModalSizeLg" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Sport</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i aria-hidden="true" class="ki ki-close"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label">Sport<span class="text-danger">*</span></label>
                                                        <div class="col-md-6">
                                                            <select id="sports" name="sports" class="form-control">
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="SL" id="SL">
                                                                    <span></span>SL
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="SC" id="SC">
                                                                    <span></span>SC
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="ZL" id="ZL">
                                                                    <span></span>ZL
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="DL" id="DL">
                                                                    <span></span>DL
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="PL" id="PL">
                                                                    <span></span>PL
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-form-label">
                                                            <div class="checkbox-inline">
                                                                <label class="checkbox">
                                                                    <input type="checkbox" name="PNL" id="PNL">
                                                                    <span></span>PNL
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label">PL in NL</label>
                                                        <div class="col-md-5">
                                                            <select id="pl_in_nl" name="pl_in_nl" class="form-control">
                                                                <option value="None">None</option>
                                                                <option value="Under15">Under 15</option>
                                                                <option value="Under16">Under 16</option>
                                                                <option value="Under17">Under 17</option>
                                                                <option value="Under18">Under 18</option>
                                                                <option value="Under19">Under 19</option>
                                                                <option value="Under20">Under 20</option>
                                                                <option value="Under21">Under 21</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label">NC</label>
                                                        <div class="col-md-5">
                                                            <select id="nc" name="nc" class="form-control">
                                                                <option value="None">None</option>
                                                                <option value="Under15">Under 15</option>
                                                                <option value="Under16">Under 16</option>
                                                                <option value="Under17">Under 17</option>
                                                                <option value="Under18">Under 18</option>
                                                                <option value="Under19">Under 19</option>
                                                                <option value="Under20">Under 20</option>
                                                                <option value="Under21">Under 21</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-2 col-form-label">RSL OF /O</label>
                                                        <div class="col-md-5">
                                                            <select id="rsl_of_o" name="rsl_of_o" class="form-control">
                                                                <option value="None">None</option>
                                                                <option value="Under15">Under 15</option>
                                                                <option value="Under16">Under 16</option>
                                                                <option value="Under17">Under 17</option>
                                                                <option value="Under18">Under 18</option>
                                                                <option value="Under19">Under 19</option>
                                                                <option value="Under20">Under 20</option>
                                                                <option value="Under21">Under 21</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary font-weight-bold add-sport">Add</button>
                                                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Modal-->
                                </div>
                                <div class=" form-group row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sport</th>
                                                    <th scope="col">SL</th>
                                                    <th scope="col">SC</th>
                                                    <th scope="col">ZL</th>
                                                    <th scope="col">DL</th>
                                                    <th scope="col">PL</th>
                                                    <th scope="col">PNL</th>
                                                    <th scope="col">PL in NL</th>
                                                    <th scope="col">NC</th>
                                                    <th scope="col">RSL OF/O</th>
                                                    <th scope="col">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="sport_list">
                                                <tr>
                                                    <td align="center" colspan="11">No sports added</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Section-->
                            </div>
                        </form>
                        <!--end::Wizard Step 5-->
                        <!--begin::Wizard Step 6-->
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form_parent_and_guardian_det">
                            @Html.AntiForgeryToken()
                            <div class="pb-5" data-wizard-type="step-content">
                                <h2 class="mb-10 font-weight-bold text-dark">Setup Your Parent Details</h2>

                                <h6 class="mb-10 font-weight-bold text-dark">Father Details</h6>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Full Name <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="father_full_name" name="father_full_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Permanent address<span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" id="father_permanent_address" name="father_permanent_address" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Tel no(Residence)</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="father_tel_no_residence" name="father_tel_no_residence" value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Tel no(Mobile)<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="father_tel_no_mobile" name="father_tel_no_mobile" required>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Present Employment</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3" id="father_present_employment" name="father_present_employment"></textarea>
                                    </div>

                                    <label class="col-md-2 col-form-label">If retired previous Employment</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3" id="father_previous_employment" name="father_previous_employment"></textarea>
                                    </div>
                                </div>



                                <h6 class="mb-10 font-weight-bold text-dark">Mother Details</h6>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Full Name <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="mother_full_name" name="mother_full_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Permanent address<span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" id="mother_permanent_address" name="mother_permanent_address" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Tel no(Residence)</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="mother_tel_no_residence" name="mother_tel_no_residence" value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Tel no(Mobile)<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="mother_tel_no_mobile" name="mother_tel_no_mobile" required>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Present Employment</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3" id="mother_present_employment" name="mother_present_employment"></textarea>
                                    </div>

                                    <label class="col-md-2 col-form-label">If retired previous Employment</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3" id="mother_previous_employment" name="mother_previous_employment"></textarea>
                                    </div>
                                </div>


                                <h6 class="mb-10 font-weight-bold text-dark">Guardian Details</h6>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Full Name <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="guardian_full_name" name="guardian_full_name" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Relationship <span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="guardian_relationship" name="guardian_relationship" required value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Permanent address<span class="text-danger">*</span></label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" id="guardian_permanent_address" name="guardian_permanent_address" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Tel no(Residence)</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control" id="guardian_tel_no_residence" name="guardian_tel_no_residence" value="">
                                    </div>
                                    <label class="col-md-2 col-form-label">Tel no(Mobile)<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="guardian_tel_no_mobile" name="guardian_tel_no_mobile" required>
                                    </div>

                                </div>


                                <div class="form-group row">
                                    <label class="col-md-8 col-form-label">If one of your parents belong to Ranaviru, Police, KDU staff select the relevant<span class="text-danger">*</span></label>
                                    <div class="col-md-4">
                                        <select id="forces_type" name="forces_type" class="form-control">
                                            <option value="NotApplicable" selected>Not Applicable</option>
                                            <option value="Ranaviru">Ranaviru</option>
                                            <option value="Police">Police</option>
                                            <option value="KDUStaff">KDU Staff</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Wizard Step 5-->
                        <!--begin::Wizard Actions-->
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                                <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Next</button>
                            </div>
                        </div>
                        <!--end::Wizard Actions-->
                        <div></div><div></div><div></div><div></div>

                        <!--end::Wizard Form-->
                    </div>
                </div>
                <!--end::Wizard Body-->
            </div>
            <!--end::Wizard-->
        </div>
        <!--end::Wizard-->
    </div>
</div>

<script src="~/js/pages/user/user_index.js"></script>